/EmailReader/EmailReader/bin

EmailReader/.vs/

EmailReader/EmailReader/obj/

EmailReader/EmailReaderTest/bin/

EmailReader/EmailReaderTest/obj/

EmailReader/EmailReaderTestCore/bin/

EmailReader/EmailReaderTestCore/obj/

EmailReader/GetTiktokVerification/bin/

EmailReader/GetTiktokVerification/obj/

EmailReader/GetTiktokVerificationCore/bin/

EmailReader/GetTiktokVerificationCore/obj/

HowKTeam/General/WindowGUI/.vs/

HowKTeam/General/WindowGUI/WindowGUI/bin/

HowKTeam/General/WindowGUI/WindowGUI/obj/

.vs/
/HowKTeam/General/EntityFrameWorkUI/EntityFrameWorkUI/bin/Debug
/HowKTeam/General/EntityFrameWorkUI/EntityFrameWorkUI/obj/Debug
/HowKTeam/General/QuanLyQuanCafe/QuanLyQuanCafe/bin/Debug
/HowKTeam/General/QuanLyQuanCafe/QuanLyQuanCafe/obj/Debug
/Learning/Udemy/Windows Presentation Foundation Masterclass/HelloWPF/HelloWPF/obj/Debug
/Learning/Udemy/Windows Presentation Foundation Masterclass/HelloWPF/HelloWPF/bin/Debug
/Learning/Udemy/Windows Presentation Foundation Masterclass/Calculator/Calculator/bin/Debug/net8.0-windows
/Learning/Udemy/Windows Presentation Foundation Masterclass/Calculator/Calculator/obj
/Learning/Udemy/Windows Presentation Foundation Masterclass/ContactsApp/ContactsApp/bin/Debug/net8.0-windows
/Learning/Udemy/Windows Presentation Foundation Masterclass/ContactsApp/ContactsApp/obj
