/EmailReader/EmailReader/bin

EmailReader/.vs/

EmailReader/EmailReader/obj/

EmailReader/EmailReaderTest/bin/

EmailReader/EmailReaderTest/obj/

EmailReader/EmailReaderTestCore/bin/

EmailReader/EmailReaderTestCore/obj/

EmailReader/GetTiktokVerification/bin/

EmailReader/GetTiktokVerification/obj/

EmailReader/GetTiktokVerificationCore/bin/

EmailReader/GetTiktokVerificationCore/obj/

HowKTeam/General/WindowGUI/.vs/

HowKTeam/General/WindowGUI/WindowGUI/bin/

HowKTeam/General/WindowGUI/WindowGUI/obj/

.vs/
/HowKTeam/General/EntityFrameWorkUI/EntityFrameWorkUI/bin/Debug
/HowKTeam/General/EntityFrameWorkUI/EntityFrameWorkUI/obj/Debug
/HowKTeam/General/QuanLyQuanCafe/QuanLyQuanCafe/bin/Debug
/HowKTeam/General/QuanLyQuanCafe/QuanLyQuanCafe/obj/Debug
/Learning/Udemy/Windows Presentation Foundation Masterclass/HelloWPF/HelloWPF/obj/Debug
/Learning/Udemy/Windows Presentation Foundation Masterclass/HelloWPF/HelloWPF/bin/Debug
/Learning/Udemy/Windows Presentation Foundation Masterclass/Calculator/Calculator/bin/Debug/net8.0-windows
/Learning/Udemy/Windows Presentation Foundation Masterclass/Calculator/Calculator/obj
/Learning/Udemy/Windows Presentation Foundation Masterclass/ContactsApp/ContactsApp/bin/Debug/net8.0-windows
/Learning/Udemy/Windows Presentation Foundation Masterclass/ContactsApp/ContactsApp/obj
/Learning/Udemy/Windows Presentation Foundation Masterclass/WeatherApp/packages/Newtonsoft.Json.13.0.3
/Learning/Udemy/Windows Presentation Foundation Masterclass/WeatherApp/WeatherApp/bin/Debug
/Learning/Udemy/Windows Presentation Foundation Masterclass/WeatherApp/WeatherApp/obj/Debug
/MyProjects/MathDLL/MathDLL/x64/
/MyProjects/MathDLL/x64/
/MyProjects/MathDLL/UsingMathDLL/x64/
/MyProjects/UsingMathDLL/UsingMathDLL/x64/
/MyProjects/UsingMathDLL/x64/
/ADBTools/ClickImageLib/x64/Debug
/ADBTools/packages
/ADBTools/x64/Debug
/ADBTools/ClickImage/bin/Debug/net8.0
/ADBTools/ClickImage/obj
/HowKTeam/General/AutoAppPC/AutoControlAppPC/AutoControlAppPC/bin/Debug
/HowKTeam/General/AutoAppPC/AutoControlAppPC/AutoControlAppPC/obj/Debug
Learning/HowKTeam/AutoAppPC/AutoControlAppPC/AutoControlAppPC/bin/Debug/AutoControlAppPC.exe
Learning/HowKTeam/AutoAppPC/AutoControlAppPC/AutoControlAppPC/bin/Debug/AutoControlAppPC.exe.config
Learning/HowKTeam/AutoAppPC/AutoControlAppPC/AutoControlAppPC/bin/Debug/AutoControlAppPC.pdb
Learning/HowKTeam/AutoAppPC/AutoControlAppPC/AutoControlAppPC/bin/Debug/concrt140.dll
Learning/HowKTeam/AutoAppPC/AutoControlAppPC/AutoControlAppPC/bin/Debug/cvextern.dll
Learning/HowKTeam/AutoAppPC/AutoControlAppPC/AutoControlAppPC/bin/Debug/Emgu.CV.Bitmap.dll
Learning/HowKTeam/AutoAppPC/AutoControlAppPC/AutoControlAppPC/bin/Debug/Emgu.CV.dll
Learning/HowKTeam/AutoAppPC/AutoControlAppPC/AutoControlAppPC/bin/Debug/How Kteam - Free Education.html
Learning/HowKTeam/AutoAppPC/AutoControlAppPC/AutoControlAppPC/bin/Debug/KAutoHelper.dll
Learning/HowKTeam/AutoAppPC/AutoControlAppPC/AutoControlAppPC/bin/Debug/KAutoHelper.dll.config
Learning/HowKTeam/AutoAppPC/AutoControlAppPC/AutoControlAppPC/bin/Debug/KAutoHelper.pdb
Learning/HowKTeam/AutoAppPC/AutoControlAppPC/AutoControlAppPC/bin/Debug/mainScreen.PNG
Learning/HowKTeam/AutoAppPC/AutoControlAppPC/AutoControlAppPC/bin/Debug/msvcp140.dll
Learning/HowKTeam/AutoAppPC/AutoControlAppPC/AutoControlAppPC/bin/Debug/opencv_ffmpeg341.dll
Learning/HowKTeam/AutoAppPC/AutoControlAppPC/AutoControlAppPC/bin/Debug/opencv_ffmpeg343.dll
Learning/HowKTeam/AutoAppPC/AutoControlAppPC/AutoControlAppPC/bin/Debug/res.PNG
Learning/HowKTeam/AutoAppPC/AutoControlAppPC/AutoControlAppPC/bin/Debug/System.Buffers.dll
Learning/HowKTeam/AutoAppPC/AutoControlAppPC/AutoControlAppPC/bin/Debug/System.Memory.dll
Learning/HowKTeam/AutoAppPC/AutoControlAppPC/AutoControlAppPC/bin/Debug/System.Numerics.Vectors.dll
Learning/HowKTeam/AutoAppPC/AutoControlAppPC/AutoControlAppPC/bin/Debug/template.PNG
Learning/HowKTeam/AutoAppPC/AutoControlAppPC/AutoControlAppPC/bin/Debug/vcruntime140.dll
Learning/HowKTeam/AutoAppPC/AutoControlAppPC/AutoControlAppPC/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
Learning/HowKTeam/AutoAppPC/AutoControlAppPC/AutoControlAppPC/obj/Debug/AutoCont.78FA23C8.Up2Date
Learning/HowKTeam/AutoAppPC/AutoControlAppPC/AutoControlAppPC/obj/Debug/AutoControlAppPC.csproj.AssemblyReference.cache
Learning/HowKTeam/AutoAppPC/AutoControlAppPC/AutoControlAppPC/obj/Debug/AutoControlAppPC.csproj.CoreCompileInputs.cache
Learning/HowKTeam/AutoAppPC/AutoControlAppPC/AutoControlAppPC/obj/Debug/AutoControlAppPC.csproj.FileListAbsolute.txt
Learning/HowKTeam/AutoAppPC/AutoControlAppPC/AutoControlAppPC/obj/Debug/AutoControlAppPC.csproj.GenerateResource.cache
Learning/HowKTeam/AutoAppPC/AutoControlAppPC/AutoControlAppPC/obj/Debug/AutoControlAppPC.exe
Learning/HowKTeam/AutoAppPC/AutoControlAppPC/AutoControlAppPC/obj/Debug/AutoControlAppPC.Form1.resources
Learning/HowKTeam/AutoAppPC/AutoControlAppPC/AutoControlAppPC/obj/Debug/AutoControlAppPC.pdb
Learning/HowKTeam/AutoAppPC/AutoControlAppPC/AutoControlAppPC/obj/Debug/AutoControlAppPC.Properties.Resources.resources
Learning/HowKTeam/AutoAppPC/AutoControlAppPC/AutoControlAppPC/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Learning/HowKTeam/AutoAppPC/AutoControlAppPC/AutoControlAppPC/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MyProjects/ADBTools/ClickImage/bin/Debug/net8.0/ClickImage.deps.json
MyProjects/ADBTools/ClickImage/bin/Debug/net8.0/ClickImage.dll
MyProjects/ADBTools/ClickImage/bin/Debug/net8.0/ClickImage.exe
MyProjects/ADBTools/ClickImage/bin/Debug/net8.0/ClickImage.pdb
MyProjects/ADBTools/ClickImage/bin/Debug/net8.0/ClickImage.runtimeconfig.json
MyProjects/ADBTools/ClickImage/bin/Debug/net8.0/Emgu.CV.dll
MyProjects/ADBTools/ClickImage/bin/Debug/net8.0/emulator-5554.png
MyProjects/ADBTools/ClickImage/bin/Debug/net8.0/name.png
MyProjects/ADBTools/ClickImage/bin/Debug/net8.0/runtimes/win-arm64/native/concrt140.dll
MyProjects/ADBTools/ClickImage/bin/Debug/net8.0/runtimes/win-arm64/native/cvextern.dll
MyProjects/ADBTools/ClickImage/bin/Debug/net8.0/runtimes/win-arm64/native/msvcp140_1.dll
MyProjects/ADBTools/ClickImage/bin/Debug/net8.0/runtimes/win-arm64/native/msvcp140_2.dll
MyProjects/ADBTools/ClickImage/bin/Debug/net8.0/runtimes/win-arm64/native/msvcp140_atomic_wait.dll
MyProjects/ADBTools/ClickImage/bin/Debug/net8.0/runtimes/win-arm64/native/msvcp140_codecvt_ids.dll
MyProjects/ADBTools/ClickImage/bin/Debug/net8.0/runtimes/win-arm64/native/msvcp140.dll
MyProjects/ADBTools/ClickImage/bin/Debug/net8.0/runtimes/win-arm64/native/vcruntime140_1.dll
MyProjects/ADBTools/ClickImage/bin/Debug/net8.0/runtimes/win-arm64/native/vcruntime140.dll
MyProjects/ADBTools/ClickImage/bin/Debug/net8.0/runtimes/win-x64/native/concrt140.dll
MyProjects/ADBTools/ClickImage/bin/Debug/net8.0/runtimes/win-x64/native/cvextern.dll
MyProjects/ADBTools/ClickImage/bin/Debug/net8.0/runtimes/win-x64/native/msvcp140_1.dll
MyProjects/ADBTools/ClickImage/bin/Debug/net8.0/runtimes/win-x64/native/msvcp140_2.dll
MyProjects/ADBTools/ClickImage/bin/Debug/net8.0/runtimes/win-x64/native/msvcp140_atomic_wait.dll
MyProjects/ADBTools/ClickImage/bin/Debug/net8.0/runtimes/win-x64/native/msvcp140_codecvt_ids.dll
MyProjects/ADBTools/ClickImage/bin/Debug/net8.0/runtimes/win-x64/native/msvcp140.dll
MyProjects/ADBTools/ClickImage/bin/Debug/net8.0/runtimes/win-x64/native/opencv_videoio_ffmpeg481_64.dll
MyProjects/ADBTools/ClickImage/bin/Debug/net8.0/runtimes/win-x64/native/vcruntime140_1.dll
MyProjects/ADBTools/ClickImage/bin/Debug/net8.0/runtimes/win-x64/native/vcruntime140.dll
MyProjects/ADBTools/ClickImage/bin/Debug/net8.0/runtimes/win-x86/native/concrt140.dll
MyProjects/ADBTools/ClickImage/bin/Debug/net8.0/runtimes/win-x86/native/cvextern.dll
MyProjects/ADBTools/ClickImage/bin/Debug/net8.0/runtimes/win-x86/native/msvcp140_1.dll
MyProjects/ADBTools/ClickImage/bin/Debug/net8.0/runtimes/win-x86/native/msvcp140_2.dll
MyProjects/ADBTools/ClickImage/bin/Debug/net8.0/runtimes/win-x86/native/msvcp140_atomic_wait.dll
MyProjects/ADBTools/ClickImage/bin/Debug/net8.0/runtimes/win-x86/native/msvcp140_codecvt_ids.dll
MyProjects/ADBTools/ClickImage/bin/Debug/net8.0/runtimes/win-x86/native/msvcp140.dll
MyProjects/ADBTools/ClickImage/bin/Debug/net8.0/runtimes/win-x86/native/opencv_videoio_ffmpeg481.dll
MyProjects/ADBTools/ClickImage/bin/Debug/net8.0/runtimes/win-x86/native/vcruntime140.dll
MyProjects/ADBTools/ClickImage/obj/ClickImage.csproj.nuget.dgspec.json
MyProjects/ADBTools/ClickImage/obj/ClickImage.csproj.nuget.g.props
MyProjects/ADBTools/ClickImage/obj/ClickImage.csproj.nuget.g.targets
MyProjects/ADBTools/ClickImage/obj/project.assets.json
MyProjects/ADBTools/ClickImage/obj/project.nuget.cache
MyProjects/ADBTools/ClickImage/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
MyProjects/ADBTools/ClickImage/obj/Debug/net8.0/apphost.exe
MyProjects/ADBTools/ClickImage/obj/Debug/net8.0/ClickImage.AssemblyInfo.cs
MyProjects/ADBTools/ClickImage/obj/Debug/net8.0/ClickImage.AssemblyInfoInputs.cache
MyProjects/ADBTools/ClickImage/obj/Debug/net8.0/ClickImage.assets.cache
MyProjects/ADBTools/ClickImage/obj/Debug/net8.0/ClickImage.csproj.AssemblyReference.cache
MyProjects/ADBTools/ClickImage/obj/Debug/net8.0/ClickImage.csproj.BuildWithSkipAnalyzers
MyProjects/ADBTools/ClickImage/obj/Debug/net8.0/ClickImage.csproj.CoreCompileInputs.cache
MyProjects/ADBTools/ClickImage/obj/Debug/net8.0/ClickImage.csproj.FileListAbsolute.txt
MyProjects/ADBTools/ClickImage/obj/Debug/net8.0/ClickImage.csproj.Up2Date
MyProjects/ADBTools/ClickImage/obj/Debug/net8.0/ClickImage.dll
MyProjects/ADBTools/ClickImage/obj/Debug/net8.0/ClickImage.GeneratedMSBuildEditorConfig.editorconfig
MyProjects/ADBTools/ClickImage/obj/Debug/net8.0/ClickImage.genruntimeconfig.cache
MyProjects/ADBTools/ClickImage/obj/Debug/net8.0/ClickImage.GlobalUsings.g.cs
MyProjects/ADBTools/ClickImage/obj/Debug/net8.0/ClickImage.pdb
MyProjects/ADBTools/ClickImage/obj/Debug/net8.0/ClickImage.sourcelink.json
MyProjects/ADBTools/ClickImage/obj/Debug/net8.0/ref/ClickImage.dll
MyProjects/ADBTools/ClickImage/obj/Debug/net8.0/refint/ClickImage.dll
MyProjects/ADBTools/ClickImageLib/x64/Debug/ClickImageLib.exe.recipe
MyProjects/ADBTools/ClickImageLib/x64/Debug/ClickImageLib.ilk
MyProjects/ADBTools/ClickImageLib/x64/Debug/ClickImageLib.log
MyProjects/ADBTools/ClickImageLib/x64/Debug/ClickImageLib.obj
MyProjects/ADBTools/ClickImageLib/x64/Debug/vc143.idb
MyProjects/ADBTools/ClickImageLib/x64/Debug/vc143.pdb
MyProjects/ADBTools/ClickImageLib/x64/Debug/ClickImageLib.tlog/CL.command.1.tlog
MyProjects/ADBTools/ClickImageLib/x64/Debug/ClickImageLib.tlog/Cl.items.tlog
MyProjects/ADBTools/ClickImageLib/x64/Debug/ClickImageLib.tlog/CL.read.1.tlog
MyProjects/ADBTools/ClickImageLib/x64/Debug/ClickImageLib.tlog/CL.write.1.tlog
MyProjects/ADBTools/ClickImageLib/x64/Debug/ClickImageLib.tlog/ClickImageLib.lastbuildstate
MyProjects/ADBTools/ClickImageLib/x64/Debug/ClickImageLib.tlog/link.command.1.tlog
MyProjects/ADBTools/ClickImageLib/x64/Debug/ClickImageLib.tlog/link.read.1.tlog
MyProjects/ADBTools/ClickImageLib/x64/Debug/ClickImageLib.tlog/link.secondary.1.tlog
MyProjects/ADBTools/ClickImageLib/x64/Debug/ClickImageLib.tlog/link.write.1.tlog
MyProjects/ADBTools/x64/Debug/ClickImageLib.exe
MyProjects/ADBTools/x64/Debug/ClickImageLib.pdb
