/EmailReader/EmailReader/bin

EmailReader/.vs/

EmailReader/EmailReader/obj/

EmailReader/EmailReaderTest/bin/

EmailReader/EmailReaderTest/obj/

EmailReader/EmailReaderTestCore/bin/

EmailReader/EmailReaderTestCore/obj/

EmailReader/GetTiktokVerification/bin/

EmailReader/GetTiktokVerification/obj/

EmailReader/GetTiktokVerificationCore/bin/

EmailReader/GetTiktokVerificationCore/obj/

HowKTeam/General/WindowGUI/.vs/

HowKTeam/General/WindowGUI/WindowGUI/bin/

HowKTeam/General/WindowGUI/WindowGUI/obj/

.vs/
/HowKTeam/General/EntityFrameWorkUI/EntityFrameWorkUI/bin/Debug
/HowKTeam/General/EntityFrameWorkUI/EntityFrameWorkUI/obj/Debug
/HowKTeam/General/QuanLyQuanCafe/QuanLyQuanCafe/bin/Debug
/HowKTeam/General/QuanLyQuanCafe/QuanLyQuanCafe/obj/Debug
/Learning/Udemy/Windows Presentation Foundation Masterclass/HelloWPF/HelloWPF/obj/Debug
/Learning/Udemy/Windows Presentation Foundation Masterclass/HelloWPF/HelloWPF/bin/Debug
/Learning/Udemy/Windows Presentation Foundation Masterclass/Calculator/Calculator/bin/Debug/net8.0-windows
/Learning/Udemy/Windows Presentation Foundation Masterclass/Calculator/Calculator/obj
/Learning/Udemy/Windows Presentation Foundation Masterclass/ContactsApp/ContactsApp/bin/Debug/net8.0-windows
/Learning/Udemy/Windows Presentation Foundation Masterclass/ContactsApp/ContactsApp/obj
/Learning/Udemy/Windows Presentation Foundation Masterclass/WeatherApp/packages/Newtonsoft.Json.13.0.3
/Learning/Udemy/Windows Presentation Foundation Masterclass/WeatherApp/WeatherApp/bin/Debug
/Learning/Udemy/Windows Presentation Foundation Masterclass/WeatherApp/WeatherApp/obj/Debug
/MyProjects/MathDLL/MathDLL/x64/
/MyProjects/MathDLL/x64/
/MyProjects/MathDLL/UsingMathDLL/x64/
/MyProjects/UsingMathDLL/UsingMathDLL/x64/
/MyProjects/UsingMathDLL/x64/
/ADBTools/ClickImageLib/x64/Debug
/ADBTools/packages
/ADBTools/x64/Debug
/ADBTools/ClickImage/bin/Debug/net8.0
/ADBTools/ClickImage/obj
/HowKTeam/General/AutoAppPC/AutoControlAppPC/AutoControlAppPC/bin/Debug
/HowKTeam/General/AutoAppPC/AutoControlAppPC/AutoControlAppPC/obj/Debug
